#banner-hero {
    padding-left: 30px;
    padding-right: 30px;
}

.banner-text {
    position: relative;
}

.banner-inner-section {
    top: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.banner-inner-section h5 {
    font-weight: 400 !important;
    padding: 1px 7px;
    border: 2px solid #000;
    width: fit-content;
    border-radius: 50px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.banner-inner-section h1 {
    white-space: nowrap;
    font-size: 20vw;
    line-height: 0.9 !important;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 800;
    display: flex;
    align-items: center;
}

.bear-character-col {
    position: absolute;
    width: 50% !important;
    height: 55% !important;
    left: 18% !important;
    right: 0% !important;
    margin: auto !important;
    top: 50%;
    transform: translateY(-50%);
}

.bear-character-col .inner {
    transform: translateY(calc(50vh - 80%));
}

.rawr-popup {
    position: absolute;
    top: 5%;
    left: 15%;
    width: 15vw;
    min-width: 150px;
    max-width: 300px !important;
    z-index: 1000;
}